.dot-stepper {
    list-style: none;
    padding: 0;
}

.dot-stepper li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background-color: #007bff;
    border-radius: 50%;
    cursor: pointer;
}

.dot-stepper li.active {
    background-color: #0056b3; /* Active dot color */
}


.carousel-item img {
    max-height: 600px; /* Adjust the max-height as needed */
    width: auto;
    margin: 0 auto; /* This centers the image if it's smaller than the container */
}

@media (max-width: 768px) { /* Adjust the max-width as needed for your design */
    .carousel-item img {
        max-height: 400px; /* Adjust the max-height as needed */
        width: auto;
        margin: 0 auto; /* This centers the image if it's smaller than the container */
    }
}

/* Existing styles for .dot-stepper and .dot-stepper li... */

@media (max-width: 768px) { /* Adjust the max-width as needed for your design */
    .dot-stepper li {
        width: 15px; /* Increase the size of the dots */
        height: 15px; /* Increase the size of the dots */
        margin: 0 10px;
    }
}


.tabs {
    padding: 0;
    background: #f8f9fa;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-tabs {
    border-bottom: none;
}

.nav-link {
    border: none;
    background: transparent;
    font-size: 1.1em;
    color: #6c757d;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #495057;
}

.nav-link.active {
    color: #495057;
    border-color: #dee2e6 #dee2e6 #fff;
    border-radius: 5px 5px 0 0;
    background: white;
    box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.05);
}

.tab-content {
    background: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 5px 5px;
    padding: 20px;
}
