.order-item img {
    width: 100px;
    height: auto;
}

.order-item .row + .row {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.row {
    align-items: center;
}

.row .col {
    padding: 5px;
}

.row .col.text-end {
    text-align: right;
}


.order-summary {
    background-color: #f8f9fa;
    border-radius: 8px;
    padding: 20px;
    margin-top: 20px;
}



.order-summary h2 {
    color: #333;
    margin-bottom: 15px;
}

#order-items {
    margin-bottom: 15px;
}




.edit-cart {
    text-align: right;
}

.btn-primary {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}



.total-price {
    font-size: 1.2em;
    margin-top: 20px;
}

.payment-option-btn.selected {
    background-color: #0056b3;
    color: white;
}

.payment-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.payment-option-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-option-btn i {
    margin-right: 8px;
}

.payment-option-btn.selected {
    background-color: #0056b3;
    color: white;
}
.checkout-button-spacing {
    margin-top: 20px;
}


.card-header h4 {
    font-weight: bold;
}

.card-header p {
    margin-bottom: 0;
}

.card-title {
    padding-bottom: 0.5rem;
}

.form-check-input {
    margin-right: 1rem;
}

.form-check-label {
    flex-grow: 1;
}

.border-bottom {
    padding: 0.75rem 0;
    border-bottom: 1px solid #dee2e6;
}

.StripeElement {
    background-color: white;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    transition: box-shadow 150ms ease;
}

.expiry-cvc-row {
    display: flex;
    justify-content: space-between;
}

.expiry-element, .cvc-element {
    flex: 1;
    margin-right: 10px;
}

.cvc-element {
    margin-right: 0;
}

#card-cvc-element {
    margin-right: 0;
}
